{% extends "5_AdminDashboard.html" %}

{% block body %}
<link rel="stylesheet"
          href="{{ url_for('static', filename='5_AdminDashboard.css') }}">

    <form action="{{url_for('add_admin')}}" method="post">

        <input type="text" placeholder="Enter your name" name="name"><br><br>
        <input type="text" placeholder="Enter your surname" name = "surname"><br><br>
        <input type="text" placeholder="Enter your email" name="email"><br><br>
        <input type="password" placeholder="Enter your phone password" name="password"><br><br>
        <input type="text" placeholder="Enter your phone number" name = "phone_no" ><br><br>
        <button type="submit">SignUp</button>

    </form> 

    <!-- {% with messages = get_flashed_messages(with_categories = true)%}
        {%if message%}
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %} -->

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}